body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#header::before{
  content:"";
  position: absolute;
  background-image: url("cover.jpg");
  background-position: center top;
  background-size:cover;
  filter:brightness(0.35);
  width: 100%;
  height:100%;
  top:0;
  left: 0;
}
#header{
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height:100vh;
}
.headerHello{
  position: relative;
}
.smallerHelloText{
  color: white;
  font-weight: 500;

}
.mainHelloText{
  color:white;
  font-weight: 500;
  font-size: 50px;
}
